# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# Node.js
node_modules/

# Terraform
*.tfstate
*.tfstate.backup

# macOS
.DS_Store

# Logs
*.log

# Environment Variables
.env

# IDE Files
.vscode/
.idea/
*.iml
